div , h1 , button{
    margin: 0;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parent {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.btn {
    display: flex;
    gap: 1rem;
}